/*
 * Globals
 */

html, body {
  color: #636363;
  font-family: 'PT Serif', serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}
.navigation,
.lang-nav,
h2, .accueil h2, h3, h4, h5,
.row-wrapper-inner .titre-section,
.contact .vcard .role,
.contact .vcard .fn,
.contact .titre-position,
.contenu-article table th,
.contenu-article .processus .titre-etape,
.contenu-article .processus .detail-etape,
.titre-article .telecharger-article .btn,
.sommaire-article .sommaire-titre,
.contact a.btn-default,
.contact a.btn-default:hover,
.contact a.btn-default:focus,
.popover .popover-title {
  font-family: 'Muli', "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: normal;
}
h3 {
  font-size: 20px;
}
.align-center {
  text-align: center;
}

/*
 * Base structure
 */
.row-wrapper {
  text-align: center;
}
.row-wrapper-inner {
  width: 1140px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
.row-wrapper-inner .titre-section {
  width: 208px;
  display: block;
  padding-left: 8px;
  font-size: 34px;
  line-height: 60px;
  margin-bottom: 30px;
}
.ancre{
  display: block;
  height: 58px; /*same height as header*/
  margin-top: -58px; /*same height as header*/
  visibility: hidden;
}

/*
 * Header
 */
#header {
  border-bottom: 1px #eaeaea solid;
  background-color: #fff;
}
#header h1.marque {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 18px;
  display: block;
  float: left;
}
#header .navigation,
#header .lang-nav {
  display: block;
  margin-top: 30px;
  margin-left: 80px;
  float: left;
  font-size: 20px;
  font-weight: normal;
}
#header .navigation .nav > li,
#header .lang-nav .nav > li {
  display: inline-block;
}
#header .navigation .nav > li + li,
#header .lang-nav .nav > li + li {
  margin-left: 20px;
}
#header .navigation .nav > li > a,
#header .lang-nav .nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 10px;
  color: #636363;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  border-radius: 0;
}
#header .navigation .nav > li > a:hover,
#header .navigation .nav > li > a:focus,
#header .lang-nav .nav > li > a:hover,
#header .lang-nav .nav > li > a:focus  {
  border-bottom-color: #e1eb8e;
  background-color: transparent;
  text-decoration: none;
}
#header .navigation .nav > .active > a,
#header .navigation .nav > .active > a:hover,
#header .navigation .nav > .active > a:focus,
#header .lang-nav .nav > .active > a,
#header .lang-nav .nav > .active > a:hover,
#header .lang-nav .nav > .active > a:focus {
  color: #636363;
  border-bottom-color: #e1eb8e;
}
#header .lang-nav {
  font-size: 14px;
  margin-left: 0;
  float: right;
}
#header .lang-nav .nav > li > a {
  font-size: 14px;
}

#header .mobile-phone-link {
  display: none;
}
/*
 * Accueil
 */
.accueil {
  margin-top: 84px;
  background-color: #fff;
  background-image: url('../images/spotlight-gradient-bg.gif');
  background-repeat: repeat-x;
  background-position: top;
}
.accueil h2 {
  font-size: 34px;
  font-weight: normal;
  width: 800px;
  margin-left: 170px;
  margin-bottom: 70px;
  padding-top: 90px;
  line-height: 60px;
}
.accueil .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 70px;
}
.accueil .breadcrumb > li > a {
  color: #636363;
  border-bottom: 3px solid transparent;
}
.accueil .breadcrumb > li > a:hover,
.accueil .breadcrumb > li > a:focus {
  border-bottom-color: #e1eb8e;
  background-color: transparent;
  text-decoration: none;
}
.accueil .breadcrumb > .active > a,
.accueil .breadcrumb > .active > a:hover,
.accueil .breadcrumb > .active > a:focus {
  color: #636363;
  border-bottom-color: #e1eb8e;
}
.accueil .breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}
/*
 * Article
 */

.titre-article {
  margin: 154px 0 0 0;
  padding:0;
  border: 1px transparent solid;
  background-color: #636363;
  height: 210px;
  color: #b6b6b6;
  line-height: 18px;
  /* left nav links fix */
  z-index: 100;
  position: absolute;
  width: 100%;
}
.titre-article a {
  color: #b6b6b6;
  text-decoration: underline;
}
.titre-article a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.titre-article h2 {
  margin: 0;
  border-bottom: 2px #b6b6b6 dotted;
  font-size:45px;
  line-height: 104px;
  color:#fff;
}
.titre-article .infos-labels,
.titre-article .licence-labels,
.titre-article .contribuer-labels {
  padding-top: 15px;
  float: left;
  width: 110px;
  text-align: right;
}
.titre-article .infos-valeurs,
.titre-article .licence-valeurs,
.titre-article .contribuer-valeurs  {
  padding-top: 15px;
  padding-left: 8px;
  float: left;
}
.titre-article .licence-valeurs,
.titre-article .contribuer-valeurs {
  width:320px;
}
.titre-article .licence-valeurs a {
  background: url('../images/logo/cc-by-sa-logo.png');
  height:23px;
  width:76px;
  display: inline-block;
}
.titre-article .licence-valeurs a:hover {
  background-position: 76px 0;
}
.titre-article .licence-valeurs a span {
  visibility: hidden;
}
.titre-article .contribuer-labels {
  clear:left;
}
.titre-article .contribuer-valeurs,
.titre-article .contribuer-labels  {
  padding-top: 0px;
}
.titre-article .telecharger-article {
  text-align: right;
  padding-top:30px;
}
.titre-article .telecharger-article .btn {
  color: #636363;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #e1eb8e;
  border: 0;
  text-decoration: none;
  font-size: 16px;
}
.titre-article .telecharger-article .btn:hover {
  color:#000;
}

.sommaire-article {
  
  /*margin-top:50px;*/
  margin-top:414px;
  margin-right: 30px;
  padding: 16px 0 16px 0;
  font-weight: normal;
}
.sommaire-article.affix {
    top: -260px;
    width: 330px;
}
.sommaire-article .sommaire-titre {
  margin-bottom: 8px;
  font-size:17px;
}
.sommaire-article .nav-stacked li {
  margin: 0;
}
.sommaire-article .nav-stacked li a,
.sommaire-article .nav-stacked li.active a,
.sommaire-article .nav-stacked li.active ol a {
  padding: 2px 0px 2px 30px;
  font-size: 16px;
  line-height: 24px;
  color: #636363;
  border: 0;
  border-radius: 0;
  background-color: #f4f4f4;
  background-image: url('../images/ui/puces-nav-article.png');
  background-repeat: no-repeat;
  background-position: 0 -24px;
}
.sommaire-article .nav-stacked li.active a,
.sommaire-article .nav-stacked li a:hover,
.sommaire-article .nav-stacked li a:focus,
.sommaire-article .nav-stacked li.active ol li.active a,
.sommaire-article .nav-stacked li ol li.active a:hover,
.sommaire-article .nav-stacked li ol li.active a:focus  {
  background-position: 0 0;
}
.sommaire-article .nav-stacked li .nav-stacked li a {
  padding-left: 60px;
}
.contenu-article {
  /*margin-top:50px;*/
  margin-top:414px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 50px;
}
.contenu-article h3 {
  font-size: 34px;
  margin-bottom: 35px;
  margin-top: 95px;
}
.contenu-article h4 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contenu-article h5 {
  font-size: 17px;
  margin-top: 25px;
  margin-bottom: 18px;
}
.contenu-article p {
  margin-bottom: 18px;
  text-align: justify;
}
.contenu-article ul,
.contenu-article ol {
  text-align: justify;
}
.contenu-article h3:before,
.contenu-article h4:before {
  display: block; 
  content: " "; 
  margin-top: -170px; 
  height: 170px; 
  visibility: hidden; 
}
.contenu-article a,
.contenu-article a:hover,
.contenu-article a:visited {
  border-bottom: 2px #e1eb8e solid;
  color: #636363;
  background:#f8fdc8;
  cursor: pointer;
  text-decoration: none;
}
.contenu-article a:hover {
  background-color: #e1eb8e;
}
.contenu-article figure {
  margin-bottom: 18px;
}
.contenu-article figure img.pull-left {
  margin-right:18px;
}
.contenu-article figure img.pull-left + figcaption {
  margin-top:120px;
}
.contenu-article figure > a {
  margin-bottom: 3px;
  border-radius: 0;
  border-bottom:1px #ddd solid;
}
.contenu-article figure > a:hover {
  border:1px transparent solid;
}
.contenu-article figcaption {
  font-size:13px;
  font-style: italic;
}
.contenu-article td.no-padding figcaption {
  padding: 8px;
}
.contenu-article .processus {
  border:1px #d1d5b0 solid;
  clear: left;
  height:160px;
}
.contenu-article .processus:last-of-type {
  margin-bottom: 18px;
}
.contenu-article .processus .titre-etape {
  background: #d1d5b0;
  color:#fff;
  float:left;
  width: 35%;
  font-size: 24px;
  text-align: center;
  line-height: 158px; 
}
.contenu-article .processus .detail-etape {
  float:left;
  width: 65%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.contenu-article img.fleche-etape {
  margin-left: 100px;
}
.contenu-article table {
  width: 100%;
  border:1px #f4f4f4 solid;
  margin-bottom: 18px;
}
.contenu-article table th {
  line-height: 30px;
  background: #D1D4B2;
  color:#fff;
  padding:8px;
}
.contenu-article table td {
  padding:8px; 
  border:1px #D1D4B2 solid;
  vertical-align:top;
}
.contenu-article table td.no-padding {
  padding:0; 
}
.contenu-article .well-lg {
  font-size: 26px;
  line-height: 40px;
  border-radius: 0;
  background: #f4f4f4;
}
.contenu-article .contact {
  padding:8px;
  height: auto;
  margin-bottom: 40px;
}
.contenu-article .contact a {
  color: #e1eb8e;
  text-decoration: underline;
  background:transparent;
  border: none;
}
.contenu-article .contact .vcard .role {
  margin-bottom: 18px;
}
/*
 * Methodes
 */
.methodes {
  background-color: #f7f7f7;
  background-image: url('../images/methodes-pattern-bg.gif');
  height: 530px;
  margin-top: 30px;
}
.methodes .titre-section {
  background: #7fdee7;
  color: #fff;
}

.methodes ul li {
  list-style-image: url('../images/ui/puce-bleue.gif');
}

.methodes .methode {
  display: block;
  float:left;
  width: 374px;
  height: 400px;
  margin-top: 0;
  margin-left: 14px;
}
.methodes .methode:first-of-type {
  width: 374px;
  margin-left: 0;
}
.methodes .methode:last-of-type {
  width: 360px
}
.methodes .methode .methode-description {
  border-right: 3px #7fdee7 solid;
  height: 240px;
  padding-right: 14px;
}
.methodes .methode .methode-description p {
  text-align: justify;
}
.methodes .methode:last-of-type .methode-description {
  border-right: 0;
  padding-right: 0;
}

.methodes a,
.methodes a:hover,
.methodes a:visited {
  border-bottom: 2px #7fdee7 solid;
  color: #636363;
  cursor: pointer;
  background: #b5f4fa;
  text-decoration: none;
}
.methodes a:hover {
  background-color: #7fdee7;
}

/*
 * Valeurs
 */
.valeurs {
  background-color: #ffffff;
  background-image: url('../images/valeurs-bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: 530px;
  margin-top: 30px;
  position: relative;
}
.valeurs .titre-section {
  background: #d1d5b0;
  color: #fff;
}
.valeurs h3 {
  font-size: 34px;
  position: absolute;
}
.valeurs h3.valeur1 {
  top: 120px;
  margin-left: 36px;
}
.valeurs h3.valeur3 {
  margin-left: 658px;
  top: 120px;
}
.valeurs h3.valeur2 {
  margin-left: 360px;
  top: 330px;
}
.valeurs h3.valeur4 {
  margin-left: 960px;
  top: 330px;
}

/*
 * Contact
 */
.contact {
  background-color: #636363;
  height: 530px;
  margin-top: 30px;
  color: #fff;
}
.contact .titre-section {
  background: #808080;
  color: #fff;
}
.contact p {
  text-align: justify;
}
.contact a {
  color: #e1eb8e;
  text-decoration: underline;
}

.contact a.btn-default,
.contact a.btn-default:hover,
.contact a.btn-default:focus {
  color: #636363;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #e1eb8e;
  border: 0;
  text-decoration: none;
  font-size: 16px;
}
.contact a.btn-default:hover,
.contact a.btn-default:focus {
  color:#000;
}
.contact .vcard .photo {
  border: 1px #fff solid;
  float: left;
  margin-right: 15px;
}
.contact .vcard .fn {
  display: block;
  font-size: 20px;
}
.contact .vcard .role {
  display: block;
  font-size: 14px;
  margin-bottom: 24px;
}
.contact .icone-position {
    float:left;
    margin-right: 15px;
}
.contact .titre-position {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.contact .copyright {
  margin-top: 20px;
}

/*
 * Popovers
 */
.popover {
  max-width: 310px;
  background: #333;
  color:#ddd;
}
.popover.top .arrow:after {
  border-top-color: #333;
}
.popover .popover-title {
  display: block;
  font-size:20px;
  background: #333;
  color:#fff;
  border-bottom-color: #666;
}
.popover button.close{
  font-size:34px;
  line-height: 34px;
  padding-left: 8px;
  padding-right: 8px;
  color:#ccc;
}



/*
 * Variations
 */
@media (max-width: 1200px) {
    .row-wrapper-inner {
      width: 960px;
    }
    /*
     * Accueil
     */
    .accueil h2 {
      margin-left: 15%;
      margin-right: 10%;
      padding-top: 25px;
      margin-bottom: 30px;
      width: auto;
    }
    .sommaire-article.affix {
        top: -260px;
        width: 270px;
    }
    .contenu-article .processus {
      height:202px;
    }
    .contenu-article .processus .titre-etape {
      width: 32%;
      line-height: 200px; 
    }
    .contenu-article .processus .detail-etape {
      width: 68%;
      padding-right: 8px;
      text-align: left;
    }
    .contenu-article img.fleche-etape {
      margin-left: 72px;
    }
    .contenu-article figure img.auto-resize {
      max-width:537.5px;
      width: auto;
      height: auto;
    }
    .contenu-article figure.clearfix img.pull-left {
      float: none !important;
    }
    .contenu-article figure img.pull-left + figcaption {
      margin-top: 8px;
    }
    .contenu-article table.illustration-about-face img.auto-resize {
      max-width:178px;
      width: auto;
      height: auto;
    }
    .contenu-article table.aller-plus-loin img.auto-resize {
      max-width:267px;
      width: auto;
      height: auto;
    }

    .methodes {
      height: 550px;
    }
    .methodes .methode,
    .methodes .methode:first-of-type,
    .methodes .methode:last-of-type {
      width: 315px;
      height: 480px;
      margin-top: 0;
      margin-left: 14px;
      overflow: hidden;
      position: relative;
    }
    .methodes .methode img {
      position: absolute;
      right: 14px;
    }
    .methodes .methode:last-of-type img {
      left: 0;
    }
    .methodes .methode:first-of-type {
      width: 315px;
      margin-left: 0;
    }
    .methodes .methode:last-of-type {
      width: 301px;
    }
    .methodes .methode .methode-description {
      height: 260px;
      margin-top:180px;
    }
    .methodes .methode:last-of-type .methode-description {
      border-right: 0;
    }
    /*
     * Valeurs
     */
    .valeurs {
      background-position: center 150px;
      height: 410px;
      margin-top: 20px;
      position: relative;
      background-size:960px 152px;
    }
    .valeurs h3.valeur1 {
      top: 100px;
      margin-left: 16px;
    }
    .valeurs h3.valeur3 {
      margin-left: 540px;
      top: 100px;
    }
    .valeurs h3.valeur2 {
      margin-left: 290px;
      top: 270px;
    }
    .valeurs h3.valeur4 {
      margin-left: 790px;
      top: 270px;
    }
    .contact {
      height: auto;
      padding-bottom: 15px;
    }

}
@media (max-width: 992px) {
    .row-wrapper-inner {
      width: 750px;
    }
    #header .navigation {
      margin-left: 40px;
    }
    #header .navigation .nav > li + li,
    #header .lang-nav .nav > li + li {
      margin-left: 15px;
    }
    .accueil h2 {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 0px;
    }
    .titre-article {
      height: 190px;
      position: static;
    }
    .titre-article h2 {
      font-size:40px;
      line-height: 80px;
    }
    .titre-article .licence-valeurs {
      width:auto;
    }
    .titre-article .contribuer-labels,
    .titre-article .contribuer-valeurs {
      display: none;
    }
    .titre-article .telecharger-article {
      text-align: right;
      padding-top:10px;
    }
    .sommaire-article {
      display: none;
    }
    .contenu-article {
      margin:0px;
      padding: 0 54px 0 54px;
    }
    .contenu-article h3 {
      margin-bottom: 25px;
      margin-top: 25px;
    }
    .contenu-article h3:before,
    .contenu-article h4:before {
      display: none; 
      content: none; 
      margin-top: 0; 
      height: auto;
    }
    .contenu-article figure.clearfix img.pull-left {
      float: left !important;
    }
    .contenu-article figure img.pull-left + figcaption {
      margin-top: 80px;
    }
    .contenu-article table.illustration-about-face img.auto-resize {
      max-width:214px;
      width: auto;
      height: auto;
    }
    .contenu-article figure img.auto-resize {
      max-width:644px;
      width: auto;
      height: auto;
    }
    .contenu-article table.aller-plus-loin img.auto-resize {
      max-width:322px;
      width: auto;
      height: auto;
    }
    .methodes {
      height: auto;
      padding-bottom: 15px;
    }
    .methodes .methode,
    .methodes .methode:first-of-type,
    .methodes .methode:last-of-type {
      float: none;
      display: block;
      height: auto;
      margin: 0 0 15px 0;
      padding: 0; 
      border: 0;
      width: 100%;
      clear: left;
      border-bottom: 3px #7fdee7 solid;
    }
    .methodes .methode:last-of-type {
      border-bottom: 0;
    }
    .methodes .methode h3 {
      margin-top: 0;
    }
    .methodes .methode img,
    .methodes .methode:first-of-type img,
    .methodes .methode:last-of-type img {
      position: static;
      float:left;
    }
    .methodes .methode .methode-description,
    .methodes .methode:first-of-type .methode-description,
    .methodes .methode:last-of-type .methode-description {
      padding: 0;
      margin: 0;
      border: 0;
      margin-left: 380px;
      height: auto;
    }
    /*
     * Valeurs
     */
    .valeurs {
      background-position: center 150px;
      height: 340px;
      margin-top: 30px;
      position: relative;
      background-size: 750px 118px;
    }
    .valeurs h3 {
      font-size: 26px;
    }
    .valeurs h3.valeur1 {
      top: 100px;
      margin-left: 16px;
    }
    .valeurs h3.valeur3 {
      margin-left: 420px;
      top: 100px;
    }
    .valeurs h3.valeur2 {
      margin-left: 230px;
      top: 250px;
    }
    .valeurs h3.valeur4 {
      margin-left: 620px;
      top: 250px;
    }
    .contact .vcard {
      padding: 15px 0;
      margin-bottom: 15px;
    }
    .contact .icone-position {
        padding-top: 3px;
    }
    .contact .titre-position {
      padding: 0;
      margin: 0;
    }
    .contact a.btn-default,
    .contact a.btn-default:hover,
    .contact a.btn-default:focus {
      font-size: 30px;
      margin-top: 15px;
    }
}
@media (max-width: 768px) {
    html, body {
      font-size: 12px;
    }
    .row-wrapper-inner {
        width: 360px;
        margin-right: auto;
        margin-left: auto;
    }
    #header h1.marque {
      padding: 0;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      display: block;
      float: none;
    }
    #header h1.marque img {
      width: 190px;
    }
    .row-wrapper-inner .titre-section {
      width: 100%;
      display: block;
      padding-left: 8px;
      font-size: 26px;
      line-height: 42px;
      margin-bottom: 0px;
    }
    #header .navigation {
      float: none;
      margin: 0;
      font-size: 14px;
      padding-bottom: 5px;
    }
    #header .navigation .nav > li + li,
    #header .lang-nav .nav > li + li {
      margin-left: 10px;
    }
    #header .navigation .nav > li > a {
      font-size: 14px;
    }
    #header .lang-nav {
      font-size: 11px;
      float: none;
      display: block;
      position: absolute;
      top: 17px;
      right: 0;
    }
    #header .lang-nav .nav > li > a {
      font-size: 11px;
    }
    #header .row-wrapper-inner {
      position: relative;
    }
    #header .mobile-phone-link {
      display: block;
      position: absolute;
      top: 6px;
      right: 0px;
    }
    #header .mobile-phone-link a {
      font-size: 2em;
      color:#e1eb8e;
      padding: 4px;
      display: inline-block;
      margin-left: 3px;
    }
    .accueil h2 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        padding-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .titre-article {
      height: 240px;
      position: static;
    }
    .titre-article h2 {
      font-size:30px;
      line-height: 40px;
    }
    .titre-article .infos-labels,
    .titre-article .infos-valeurs,
    .titre-article .licence-labels,
    .titre-article .licence-valeurs {
      display: block;
      width: auto;
      height: 110px;
    }
     
    .contenu-article {
      padding: 0;
      font-size: 14px;
    }
    .contenu-article ul {
      text-align: left;
    }
    .contenu-article h3 {
      font-size: 29px;
      line-height: 35px;
    }
    .contenu-article h4 {
      font-size: 20px;
    }
    .contenu-article .processus {
      height:196px;
    }
    .contenu-article .processus .titre-etape {
      font-size: 17px;
      line-height: 194px; 
    }
    .contenu-article .processus ul.detail-etape {
      padding-left: 24px;
      font-size: 13px;
      line-height: 19px;
    }
    .contenu-article img.fleche-etape {
      margin-left: 50px;
    }
    .contenu-article .well.well-lg {
      font-size: 23px;
    }
    .contenu-article figure img.auto-resize {
      max-width:360px;
      width: auto;
      height: auto;
    }
    .contenu-article figure.clearfix img.pull-left {
      float: none !important;
      max-width:360px;
      width: auto;
      height: auto;
    }
    .contenu-article figure img.pull-left + figcaption {
      margin-top: 8px;
    }
    .contenu-article table.illustration-about-face img.auto-resize {
      max-width:119px;
      width: auto;
      height: auto;
    }
    .contenu-article table.illustration-about-face ul {
      padding-left: 16px;
    }
    .contenu-article table.illustration-about-face th {
      line-height: 16px;
    }
    .contenu-article table.aller-plus-loin img.auto-resize {
      max-width:179px;
      width: auto;
      height: auto;
    }
    .contenu-article .contact .vcard {
      border: none;
    }
    .methodes .methode h3 {
      font-size: 17px;
      margin-top: 14px;
    }
    .methodes .methode,
    .methodes .methode:first-of-type {
      overflow: hidden;
      height: auto;
      margin: 10px 0 0 0;
      border: 0;
    }
    .methodes .methode img,
    .methodes .methode:first-of-type img,
    .methodes .methode:last-of-type img {
      float:none;
    }

    .methodes .methode .methode-description,
    .methodes .methode:first-of-type .methode-description,
    .methodes .methode:last-of-type .methode-description {
      margin: 0;  
      padding: 0;
      width: auto;  
    }
    .valeurs {
      height: 180px;
      background: #fff;
      position: relative;
      margin-top: 32px;
    }

    .valeurs h3 {
      font-size: 22px;
    }
    .valeurs h3.valeur1,
    .valeurs h3.valeur3,
    .valeurs h3.valeur2,
    .valeurs h3.valeur4 {
      position: static; 
      margin: 0;
      margin-top: 15px;
      text-align: center;
    }
    .contact {
      height: auto;
    }
    .contact .titre-section {
      margin-bottom: 10px;
    }
    .contact .vcard {
      padding: 8px 0;
      border-top: 4px #808080 solid;
      border-bottom: 4px #808080 solid;
      margin-bottom: 15px;
    }
    .contact .vcard .photo {
      display: none;
    }
    .contact .vcard .role {
      margin-bottom: 0;
      font-size: 14px;
    }
    .contact .icone-position {
        float:left;
        margin-right: 10px;
        padding-top: 5px;
    }
    .contact .titre-position {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    .contact a.btn-default,
    .contact a.btn-default:hover,
    .contact a.btn-default:focus {
      font-size: 20px;
      display: block;
    }
    .contact .copyright {
      margin-top: 10px;
    }
}
@media (max-width: 400px) {
    .row-wrapper-inner {
        width: 290px;
        margin-right: auto;
        margin-left: auto;
    }
    #header .lang-nav .nav > li.active {
      display: none;
    }
    .titre-article {
      height: 240px;
      position: static;
    }
    .titre-article h2 {
      font-size:26px;
      line-height: 38px;
    }
    .titre-article .licence-labels {
      display: none;
    }
    .contenu-article {
      line-height: 19px;
    }
    .contenu-article h3 {
      font-size:26px;
    }
    .contenu-article .processus {
      height:184px;
    }
    .contenu-article .processus .titre-etape {
      font-size: 14px;
      line-height: 182px; 
    }
    .contenu-article .processus ul.detail-etape {
      padding-left: 24px;
      font-size: 11px;
      line-height: 16px;
    }
    .contenu-article img.fleche-etape {
      margin-left: 35px;
    }
    .contenu-article figure img.auto-resize {
      max-width:290px;
      width: auto;
      height: auto;
    }
    .contenu-article figure.clearfix img.pull-left {
      float: none !important;
      max-width:290px;
      width: auto;
      height: auto;
    }
    .contenu-article .well.well-lg {
      font-size: 20px;
      line-height: 28px;
    }
    .contenu-article table.illustration-about-face img.auto-resize {
      max-width:95px;
      width: auto;
      height: auto;
    }
    .contenu-article table.illustration-about-face {
      font-size:11px;
      line-height: 16px;
    }
    .contenu-article table.illustration-about-face th {
      line-height: 16px;
    }
    .contenu-article table.aller-plus-loin img.auto-resize {
      max-width:144px;
      width: auto;
      height: auto;
    }
}