/*
 * Globals
 */

html, body {
  color: #636363;
  font-family: 'PT Serif', serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: normal;
}
.navigation,
h2, .accueil h2, h3,
.row-wrapper-inner .titre-section,
.contact .vcard .role,
.contact .vcard .fn,
.contact .titre-position {
  font-family: 'Muli', "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: normal;
}
h3 {
  font-size: 20px;
}
.align-center {
  text-align: center;
}

/*
 * Base structure
 */
.row-wrapper {
  text-align: center;
}
.row-wrapper-inner {
  width: 1140px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
.row-wrapper-inner .titre-section {
  width: 208px;
  display: block;
  padding-left: 8px;
  font-size: 34px;
  line-height: 60px;
  margin-bottom: 30px;
}
.ancre{
  display: block;
  height: 58px; /*same height as header*/
  margin-top: -58px; /*same height as header*/
  visibility: hidden;
}

/*
 * Header
 */
#header {
  border-bottom: 1px #eaeaea solid;
  background-color: #fff;
}
#header h1.marque {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 18px;
  display: block;
  float: left;
}
#header .navigation {
  display: block;
  margin-top: 30px;
  margin-left: 80px;
  float: left;
  font-size: 20px;
  font-weight: normal;
}
#header .navigation .nav > li {
  display: inline-block;
}
#header .navigation .nav > li + li {
  margin-left: 20px;
}
#header .navigation .nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 10px;
  color: #636363;
  border-bottom: 3px solid transparent;
  background-color: transparent;
  border-radius: 0;
}
#header .navigation .nav > li > a:hover,
#header .navigation .nav > li > a:focus {
  border-bottom-color: #e1eb8e;
  background-color: transparent;
  text-decoration: none;
}
#header .navigation .nav > .active > a,
#header .navigation .nav > .active > a:hover,
#header .navigation .nav > .active > a:focus {
  color: #636363;
  border-bottom-color: #e1eb8e;
}
#header .mobile-phone-link {
  display: none;
}
/*
 * Accueil
 */
.accueil {
  margin-top: 84px;
  background-color: #fff;
  background-image: url('../images/spotlight-gradient-bg.gif');
  background-repeat: repeat-x;
  background-position: top;
}
.accueil h2 {
  font-size: 34px;
  font-weight: normal;
  width: 800px;
  margin-left: 170px;
  margin-bottom: 70px;
  padding-top: 90px;
  line-height: 60px;
}

/*
 * Methodes
 */
.methodes {
  background-color: #f7f7f7;
  background-image: url('../images/methodes-pattern-bg.gif');
  height: 530px;
  margin-top: 30px;
}
.methodes .titre-section {
  background: #7fdee7;
  color: #fff;
}

.methodes ul li {
  list-style-image: url('../images/ui/puce-bleue.gif');
}

.methodes .methode {
  display: block;
  float:left;
  width: 374px;
  height: 400px;
  margin-top: 0;
  margin-left: 14px;
}
.methodes .methode:first-of-type {
  width: 374px;
  margin-left: 0;
}
.methodes .methode:last-of-type {
  width: 360px
}
.methodes .methode .methode-description {
  border-right: 3px #7fdee7 solid;
  height: 240px;
  padding-right: 14px;
}
.methodes .methode .methode-description p {
  text-align: justify;
}
.methodes .methode:last-of-type .methode-description {
  border-right: 0;
  padding-right: 0;
}

/*
 * Valeurs
 */
.valeurs {
  background-color: #ffffff;
  background-image: url('../images/valeurs-bg.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: 530px;
  margin-top: 30px;
  position: relative;
}
.valeurs .titre-section {
  background: #d1d5b0;
  color: #fff;
}
.valeurs h3 {
  font-size: 34px;
  position: absolute;
}
.valeurs h3.valeur1 {
  top: 120px;
  margin-left: 36px;
}
.valeurs h3.valeur3 {
  margin-left: 658px;
  top: 120px;
}
.valeurs h3.valeur2 {
  margin-left: 360px;
  top: 330px;
}
.valeurs h3.valeur4 {
  margin-left: 960px;
  top: 330px;
}

/*
 * Contact
 */
.contact {
  background-color: #636363;
  height: 530px;
  margin-top: 30px;
  color: #fff;
}
.contact .titre-section {
  background: #808080;
  color: #fff;
}
.contact p {
  text-align: justify;
}
.contact a {
  color: #e1eb8e;
  text-decoration: underline;
}
.contact a.btn-default,
.contact a.btn-default:hover,
.contact a.btn-default:focus {
  color: #636363;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #e1eb8e;
  border: 0;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
}
.contact .vcard .photo {
  border: 1px #fff solid;
  float: left;
  margin-right: 15px;
}
.contact .vcard .fn {
  display: block;
  font-size: 20px;
}
.contact .vcard .role {
  display: block;
  font-size: 14px;
  margin-bottom: 24px;
}
.contact .icone-position {
    float:left;
    margin-right: 15px;
}
.contact .titre-position {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 10px;
}
.contact .copyright {
  margin-top: 20px;
}

/*
 * Variations
 */
@media (max-width: 1200px) {
    .row-wrapper-inner {
      width: 960px;
    }
    /*
     * Accueil
     */
    .accueil h2 {
      margin-left: 15%;
      margin-right: 10%;
      padding-top: 25px;
      margin-bottom: 30px;
      width: auto;
    }
    .methodes {
      height: 550px;

    }
    .methodes .methode,
    .methodes .methode:first-of-type,
    .methodes .methode:last-of-type {
      width: 315px;
      height: 480px;
      margin-top: 0;
      margin-left: 14px;
      overflow: hidden;
      position: relative;
    }
    .methodes .methode img {
      position: absolute;
      right: 14px;
    }
    .methodes .methode:last-of-type img {
      left: 0;
    }
    .methodes .methode:first-of-type {
      width: 315px;
      margin-left: 0;
    }
    .methodes .methode:last-of-type {
      width: 301px;
    }
    .methodes .methode .methode-description {
      height: 260px;
      margin-top:180px;
    }
    .methodes .methode:last-of-type .methode-description {
      border-right: 0;
    }
    /*
     * Valeurs
     */
    .valeurs {
      background-position: center 150px;
      height: 410px;
      margin-top: 20px;
      position: relative;
      background-size:960px 152px;
    }
    .valeurs h3.valeur1 {
      top: 100px;
      margin-left: 16px;
    }
    .valeurs h3.valeur3 {
      margin-left: 540px;
      top: 100px;
    }
    .valeurs h3.valeur2 {
      margin-left: 290px;
      top: 270px;
    }
    .valeurs h3.valeur4 {
      margin-left: 790px;
      top: 270px;
    }
    .contact {
      height: auto;
      padding-bottom: 15px;
    }

}
@media (max-width: 992px) {
    .row-wrapper-inner {
      width: 750px;
    }
    .accueil h2 {
        font-size: 28px;
        line-height: 42px;
        margin-bottom: 0px;
    }
    .methodes {
      height: auto;
      padding-bottom: 15px;
    }
    .methodes .methode,
    .methodes .methode:first-of-type,
    .methodes .methode:last-of-type {
      float: none;
      display: block;
      height: auto;
      margin: 0 0 15px 0;
      padding: 0; 
      border: 0;
      width: 100%;
      clear: left;
      border-bottom: 3px #7fdee7 solid;
    }
    .methodes .methode:last-of-type {
      border-bottom: 0;
    }
    .methodes .methode h3 {
      margin-top: 0;
    }
    .methodes .methode img,
    .methodes .methode:first-of-type img,
    .methodes .methode:last-of-type img {
      position: static;
      float:left;
    }
    .methodes .methode .methode-description,
    .methodes .methode:first-of-type .methode-description,
    .methodes .methode:last-of-type .methode-description {
      padding: 0;
      margin: 0;
      border: 0;
      margin-left: 380px;
      height: auto;
    }
    /*
     * Valeurs
     */
    .valeurs {
      background-position: center 150px;
      height: 340px;
      margin-top: 30px;
      position: relative;
      background-size: 750px 118px;
    }
    .valeurs h3 {
      font-size: 26px;
    }
    .valeurs h3.valeur1 {
      top: 100px;
      margin-left: 16px;
    }
    .valeurs h3.valeur3 {
      margin-left: 420px;
      top: 100px;
    }
    .valeurs h3.valeur2 {
      margin-left: 230px;
      top: 250px;
    }
    .valeurs h3.valeur4 {
      margin-left: 620px;
      top: 250px;
    }
    .contact .vcard {
      padding: 15px 0;
      margin-bottom: 15px;
    }
    .contact .icone-position {
        padding-top: 3px;
    }
    .contact .titre-position {
      padding: 0;
      margin: 0;
    }
    .contact a.btn-default,
    .contact a.btn-default:hover,
    .contact a.btn-default:focus {
      font-size: 30px;
      margin-top: 15px;
    }
}
@media (max-width: 768px) {
    html, body {
      font-size: 12px;
    }
    .row-wrapper-inner {
        width: 360px;
        margin-right: auto;
        margin-left: auto;
    }
    #header h1.marque {
      padding: 0;
      margin: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      display: block;
      float: none;
    }
    #header h1.marque img {
      width: 190px;
    }
    .row-wrapper-inner .titre-section {
      width: 100%;
      display: block;
      padding-left: 8px;
      font-size: 26px;
      line-height: 42px;
      margin-bottom: 0px;
    }
    #header .navigation {
      float: none;
      margin: 0;
      font-size: 16px;
      padding-bottom: 5px;
    }
    #header .navigation .nav > li + li {
      margin-left: 10px;
    }
    #header .navigation .nav > li > a {
      font-size: 14px;
    }
    #header .row-wrapper-inner {
      position: relative;
    }
    #header .mobile-phone-link {
      display: block;
      position: absolute;
      top: 6px;
      right: 0px;
    }
    #header .mobile-phone-link a {
      font-size: 2em;
      color:#e1eb8e;
      padding: 4px;
      display: inline-block;
      margin-left: 3px;
    }
    .accueil h2 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        padding-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .methodes .methode h3 {
      font-size: 17px;
      margin-top: 14px;
    }
    .methodes .methode,
    .methodes .methode:first-of-type {
      overflow: hidden;
      height: auto;
      margin: 10px 0 0 0;
      border: 0;
    }
    .methodes .methode img,
    .methodes .methode:first-of-type img,
    .methodes .methode:last-of-type img {
      float:none;
    }

    .methodes .methode .methode-description,
    .methodes .methode:first-of-type .methode-description,
    .methodes .methode:last-of-type .methode-description {
      margin: 0;  
      padding: 0;
      width: auto;  
    }
    .valeurs {
      height: 180px;
      background: #fff;
      position: relative;
      margin-top: 32px;
    }

    .valeurs h3 {
      font-size: 22px;
    }
    .valeurs h3.valeur1,
    .valeurs h3.valeur3,
    .valeurs h3.valeur2,
    .valeurs h3.valeur4 {
      position: static; 
      margin: 0;
      margin-top: 15px;
      text-align: center;
    }
    .contact {
      height: auto;
    }
    .contact .titre-section {
      margin-bottom: 10px;
    }
    .contact .vcard {
      padding: 8px 0;
      border-top: 4px #808080 solid;
      border-bottom: 4px #808080 solid;
      margin-bottom: 15px;
    }
    .contact .vcard .photo {
      display: none;
    }
    .contact .vcard .role {
      margin-bottom: 0;
      font-size: 14px;
    }
    .contact .icone-position {
        float:left;
        margin-right: 10px;
        padding-top: 5px;
    }
    .contact .titre-position {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    .contact a.btn-default,
    .contact a.btn-default:hover,
    .contact a.btn-default:focus {
      font-size: 20px;
      display: block;
    }
    .contact .copyright {
      margin-top: 10px;
    }
}
@media (max-width: 400px) {
    .row-wrapper-inner {
        width: 290px;
        margin-right: auto;
        margin-left: auto;
    }
}