---
layout: default
title: "Nos projets"
section: clients
subsection: projets
excerpt: We Love Users accompagne ses clients pour des produits et services grand public et experts (destinés à des professionnels, salariés, etc.)
redirect_from: "/clients/index.html"
---

<section class="pre-header">
  <div class="ui stackable nopad grid container">
    <div class="eight wide column title nopad">
      <img src="/images/clients/we-love-clients.jpg" srcset="/images/clients/we-love-clients.jpg, /images/clients/we-love-clients@2x.jpg 2x" alt="We Love Clients, collaborer autour d'un projet commun.">
    </div>
    <div class="eight wide middle aligned column text">
      <p>Nos cas clients reflètent notre façon d'envisager nos collaborations : travailler ensemble de manière co-créative avec chaque équipe projet, et promouvoir le partage de savoir-faire et de connaissance.</p>
    </div>
</section>

<header class="page-header relative">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
</header>

<section class="ui nomargin container section">
  <div class="links">
    <a class="sikana relative" href="{{ site.baseurl }}/clients/sikana-outil-pedagogique.html"><img class="half-width background" src="/images/clients/sikana/sikana-mini.jpg" srcset="/images/clients/sikana/sikana-mini.jpg, /images/clients/sikana/sikana-mini@2x.jpg 2x" alt="Sikana : Rendre l’outil pédagogique accessible à tous"><span class="text"><span class="first"><h2>Sikana : Rendre l’outil pédagogique accessible à tous</h2></span><span class="second">Découvrir le projet</span></span><span class="logo"><span class="relative">{% include love.big.html %}<i class="icon wlu-icon"><img src="/images/clients/sikana/logo-sikana.png" srcset="/images/clients/sikana/logo-sikana.png, /images/clients/sikana/logo-sikana@2x.png 2x" alt="Logo Vallourec"></i></span></span></a><!--
    --><a class="vallourec relative" href="{{ site.baseurl }}/clients/vallourec-dispositifs-numeriques-portatifs.html"><img class="half-width background" src="/images/clients/vallourec/vallourec-mini.jpg" srcset="/images/clients/vallourec/vallourec-mini.jpg, /images/clients/vallourec/vallourec-mini@2x.jpg 2x" alt="Vallourec, illustration du dispositif numérique portatif"><span class="text"><span class="first"><h2>Vallourec : Dispositifs numériques portatifs</h2></span><span class="second">Découvrir le projet</span></span><span class="logo"><span class="relative">{% include love.big.html %}<i class="icon wlu-icon"><img src="/images/clients/vallourec/logo-vallourec.png" srcset="/images/clients/vallourec/logo-vallourec.png, /images/clients/vallourec/logo-vallourec@2x.png 2x" alt="Logo Vallourec"></i></span></span></a>
  </div>
</section>

<section class="section">
	<h2 class="ui header">Eux aussi nous font confiance</h2>

	<div class="ui four columns grid container other-clients-container">
    <div class="center aligned column"><img class="client-logo" src="/images/clients/maif-logo.jpg" srcset="/images/clients/maif-logo.jpg, /images/clients/maif-logo@2x.jpg 2x" alt="MAIF (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/smart-tribune-logo.jpg" srcset="/images/clients/smart-tribune-logo.jpg, /images/clients/smart-tribune-logo@2x.jpg 2x" alt="Smart Trinune (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/welbees-logo.jpg" srcset="/images/clients/welbees-logo.jpg, /images/clients/welbees-logo@2x.jpg 2x" alt="Welbees (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/alan-logo.jpg" srcset="/images/clients/alan-logo.jpg, /images/clients/alan-logo@2x.jpg 2x" alt="Alan (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/smice-logo.jpg" srcset="/images/clients/smice-logo.jpg, /images/clients/smice-logo@2x.jpg 2x" alt="Smice (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/groupe-seb-logo.jpg" srcset="/images/clients/groupe-seb-logo.jpg, /images/clients/groupe-seb-logo@2x.jpg 2x" alt="Groupe Seb (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/axa-logo.jpg" srcset="/images/clients/axa-logo.jpg, /images/clients/axa-logo@2x.jpg 2x" alt="Axa (Logo)"></div>
    <div class="center aligned column"><img class="client-logo" src="/images/clients/groupe-henner-logo.jpg" srcset="/images/clients/groupe-henner-logo.jpg, /images/clients/groupe-henner-logo@2x.jpg 2x" alt="Groupe Henner (Logo)"></div>
	</div>
</section>
