---
layout: default
title: Nos publications
section: sharing
subsection: publications
navinterne: false
excerpt: Nous partagons notre passion du Design et de l'UX à travers nos publications qui questionnent notre relation au monde.
redirect_from: "/partage/index.html"
---

<section class="pre-header">
  <div class="ui stackable nopad grid container">
    <div class="eight wide column title nopad">
      <img src="/images/partage/we-love-sharing.jpg" srcset="/images/partage/we-love-sharing.jpg, /images/partage/we-love-sharing@2x.jpg 2x" alt="We Love Sharing. Nous mettons notre connaissance et notre expérience à votre disposition.">
    </div>
    <div class="eight wide middle aligned column text">
      <p>Plus nous observons le monde, plus nous aimons le design et l’UX. Cette passion, nous avons à cœur de la partager et la rendre utile à tous. C’est pourquoi nous donnons libre accès à nos outils de mesure et d’animation comme à nos publications.</p>
    </div>
</section>

<header class="page-header relative">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="ui stackable grid container"></div>
</header>

<section class="publications" id="derniere-publication">
      <div class="ui two stackable cards">
      {% for micropublication in site.data.partages.micropublications %}
        <div class="fluid card">
          <div class="image">
            <img src="{{ micropublication.image }}" data-action="zoom">
          </div>
          <div class="content nopad">
            <div class="header">{{ micropublication.titre }}</div>
            <div class="meta">
              <span class="right floated action"><a class="ui icon small button" href="{{ micropublication.url }}" target="_blank">Réagir <i class="icon linkedin square"></i></a></span>
              <span class="date">{{ micropublication.date }}</span>

            </div>
            <div class="description">
              {{ micropublication.description }}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
</section>

<section class="section section-2">
  <h2 class="ui header" id="articles">Articles longs</h2>

   <div class="ui link grid nomargin container">
    {% for article in site.data.partages.articles %}
    <a class="row" href="{{ site.baseurl }}/partage/{{ article.url }}">
      <div class="four wide nopad method-icon column">
        <img src="{{ article.logo }}{{ article.filetype }}" srcset="{{ article.logo }}{{ article.filetype }}, {{ article.logo }}@2x{{ article.filetype }} 2x" alt="{{ article.titre }}">
      </div>
      <div class="twelve wide method-content column">
        <div class="header">{{ article.titre }}</div>
        <div class="description"><p>{{ article.description }}</p></div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
