{% if page.breadcrumb %}
<div class="ui breadcrumb">
    <a class="section" href="{{ site.baseurl }}/">Accueil</a>
    <i class="chevron right icon divider"></i>


    {% if page.section == "users-love-design" %}
      <div class="active section">Users {% include love.html %} Design & UX</div>
    {% endif %}


    {% if page.section == "research" %}
      {% if page.subsection == "comprendre-interpreter-modeliser" %}
        <a class="section" href="{{ site.baseurl }}/recherche/index.html">We {% include love.html %} Research</a>
        <i class="chevron right icon divider"></i>
        <a class="section" href="{{ site.baseurl }}/recherche/index.html#comprendre-interpreter-modeliser">Comprendre, interpréter et modéliser</a>
        <i class="chevron right icon divider"></i>
        <div class="active section">{{ page.title }}</div>
      {% elsif page.subsection == "concretiser-evaluer" %}
        <a class="section" href="{{ site.baseurl }}/recherche/index.html">We {% include love.html %} Research</a>
        <i class="chevron right icon divider"></i>
        <a class="section" href="{{ site.baseurl }}/recherche/index.html#concretiser-evaluer">Concrétiser et évaluer</a>
        <i class="chevron right icon divider"></i>
        <div class="active section">{{ page.title }}</div>
      {% else %}        
        <div class="active section">We {% include love.html %} Research</div>
      {% endif %}
    {% endif %}


    {% if page.section == "teaching" %}
      {% if page.subsection == "formations" %}
        <a class="section" href="{{ site.baseurl }}/formation/index.html">We {% include love.html %} Teaching</a>
        <i class="chevron right icon divider"></i>
        <a class="section" href="{{ site.baseurl }}/formation/index.html#formations">Nos formations</a>
        <i class="chevron right icon divider"></i>
        <div class="active section">{{ page.title }}</div>
      {% elsif page.subsection == "transmettre-enthousiasme" %}
        <a class="section" href="{{ site.baseurl }}/formation/index.html">We {% include love.html %} Teaching</a>
        <i class="chevron right icon divider"></i>
        <a class="section" href="{{ site.baseurl }}/formation/index.html#transmettre-enthousiasme">Transmettre l'enthousiasme</a>
        <i class="chevron right icon divider"></i>
        <div class="active section">{{ page.title }}</div>
      {% else %}        
        <div class="active section">We {% include love.html %} Teaching</div>
      {% endif %}
    {% endif %}
    

    {% if page.section == "sharing" %}
      {% if page.subsection == "articles" %}
      <a class="section" href="{{ site.baseurl }}/partage/index.html">We {% include love.html %} Sharing</a>
      <i class="chevron right icon divider"></i>
      <a class="section" href="{{ site.baseurl }}/partage/index.html#articles">Articles</a>
      <i class="chevron right icon divider"></i>
      <div class="active section">{{ page.title }}</div>
      {% else %}  
      <div class="active section">We {% include love.html %} Sharing</div>
      {% endif %}
    {% endif %}


    {% if page.section == "clients" %}
      <div class="active section">We {% include love.html %} Clients</div>
    {% endif %}


    {% if page.section == "contact" %}
      <div class="active section">Contact</div>
    {% endif %}

    {% if page.navinterne %}
      {% include nav.page.html %}
    {% endif %}  

</div>
{% endif %}