<footer class="site-footer">
  <div class="ui stackable three column grid container">
    <div class="column">
      <div class="ui header"><span class="first">We</span> {% include love.html %} Research</div>
      <p><a href="{{ site.baseurl }}/recherche/index.html"><i class="chevron right icon"></i>Nos services et prestations</a> en recherche utilisateurs, prototypage et évaluation.</p>
    </div>
    <div class="column">
      <div class="ui header"><span class="first">We</span> {% include love.html %} Teaching</div>
      <p><a href="{{ site.baseurl }}/formation/index.html#formations"><i class="chevron right icon"></i>Nos formations</a> autour de la recherche utilisateurs pour le design, l'ergonomie et l'expérience utilisateurs (UX).</p>
      <p><a href="{{ site.baseurl }}/formation/index.html#articles-publications"><i class="chevron right icon"></i>Nos articles et publications</a>.</p>
    </div>
    <div class="column coordonnees">
      <div class="ui header">Coordonnées</div>
      <p><i class="marker icon"></i>Basés à Paris, nous travaillons dans toute la France.</p>
      <p><i class="mobile icon"></i>Mobile : <a href="tel:0637332655">06 37 33 26 55</a></p>
      <p><i class="mail icon"></i>E-mail : <a href="mailto:f.jaouali@weloveusers.com?subject=We Love Users Too :)">f.jaouali@weloveusers.com</a></p>
    </div>
  </div>
  <div class="ui center aligned container"><a href="{{ site.baseurl }}/international/index.html"><i class="world icon"></i>International services (English)</a></div>
  <small class="ui center aligned container">© 2013-2016, WeLoveUsers.com</small>
</footer>