<footer class="site-footer ui container">
  <div class="ui stackable grid container">
    <div class="one wide column"></div>
    <div class="fifteen wide column">
      <div class="ui header">Contact</div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <p><b>Nous travaillons dans toute la France.</b></p>
      <p><b>We Love Users</b><br />2 avenue de Verdun, 31290 Villefranche de Lauragais</p>
    </div>
    <div class="two wide column"></div>
    <div class="six wide column">
      <p><b>E-mail :</b> <a href="mailto:f.jaouali@weloveusers.com?subject=We Love Users Too :)">f.jaouali@weloveusers.com</a></p>
      <p><b>Mobile :</b> <a href="tel:0637332655">06 37 33 26 55</a></p>
    </div>
  </div>
  <div class="ui center aligned container copyright">© 2013-2025, WeLoveUsers.com</div>
</footer>
