<div class="ui small modal" id="popup-devis">
  <i class="close icon"></i>
  <div class="header">Contact us</div>
  <div class="content">
    <input type="hidden" name="page" id="page" value="{{ page.title }}">
    <form class="ui small form" action="https://formspree.io/f.jaouali@weloveusers.com" method="POST">

      <div class="field">
        <div class="ui left icon input">
          <input id="nom-prenom" name="nom-prenom" type="text" placeholder="First name, last name and position">
          <i class="user icon"></i>
        </div>
      </div>

      <div class="fields">
        <div class="eight wide field">
          <div class="ui left icon input">
            <input id="email" name="email" type="email" placeholder="E-mail address">
            <i class="mail icon"></i>
          </div>
        </div>

        <div class="eight wide field">
          <div class="ui left icon input">
            <input id="telephone" name="telephone" type="tel" placeholder="Phone number">
            <i class="call icon"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="demande">What is your question?</label>
        <div class="ui input"><textarea id="demande" name="demande" rows="6"></textarea></div>
      </div>

    </form>

    <div class="ui success hidden message">
      <p>Your message has been sent.</p>
      <div class="ui green close button" tabindex="0">Close</div>
    </div>
  
  </div>

  <div class="actions">
    <div class="ui green submit button" tabindex="0">Send</div>
  </div>

</div>