<div class="ui basic modal" id="nav-mobile">
    <i class="close icon"></i>
    <div class="ui container two column centered grid">
        <div class="column">
            <a href="{{ site.baseurl }}/" class="lien-accueil {% if page.section == "home" %}active{% endif %}">Accueil</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/design-ux/index.html" class=" {% if page.section == "users-love-design" %}active{% endif %}"><span class="first">Users {% include love.html %}</span>Design & UX</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/recherche/index.html" class=" {% if page.section == "research" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Research</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/formation/index.html" class=" {% if page.section == "teaching" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Teaching</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/partage/index.html" class=" {% if page.section == "sharing" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Sharing</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/clients/index.html" class=" {% if page.section == "clients" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Clients</a>
        </div>
        <div class="column">
            <a href="{{ site.baseurl }}/contact/index.html" class="lien-contact {% if page.section == "contact" %}active{% endif %}">Contact</a>
        </div>
        <div class="column"></div>
  </div>
</div>