<button class="ui icon big button" id="bt-nav-mobile"><i class="ui content icon"></i></button>
<nav class="site-nav ui grid">
    <div class="submenu-backgroud hidden {% if page.section == "research" or page.section == "teaching" or page.section == "sharing" or page.section == "clients" %}forced-visible{% endif %}"></div>
    <div class="one wide column"></div>
    <div class="three wide column">
        <a href="{{ site.baseurl }}/" class="logo">
          <img src="/images/logo/we-love-users-logo.gif" srcset="/images/logo/we-love-users-logo.gif, /images/logo/we-love-users-logo@2x.gif 2x" alt="{{ site.title }}">
        </a>
    </div>
    <div class="eleven wide right aligned column">
        <a href="{{ site.baseurl }}/" class="item {% if page.section == "home" %}active{% endif %}">Accueil</a><!--
        --><div class="main-item item {% if page.section == "research" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Research
            <div class="ui submenu hidden {% if page.section == "research" %}forced-visible{% endif %}">
              <a href="{{ site.baseurl }}/recherche-utilisateur/protocoles-recherche-utilisateur.html" class="item subitem {% if page.subsection == "research-protocols" %}active{% endif %}">Nos protocoles de recherche</a> |
              <a href="{{ site.baseurl }}/recherche-utilisateur/methodologie-recherche-utilisateur.html" class="item subitem {% if page.subsection == "research-methodology" %}active{% endif %}">Notre méthodologie</a>
            </div>
        </div><!--
        --><div class="main-item item {% if page.section == "teaching" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Teaching
            <div class="ui submenu hidden {% if page.section == "teaching" %}forced-visible{% endif %}">
              <a href="{{ site.baseurl }}/formation/formation-recherche-ux-design-groupe.html" class="item subitem {% if page.subsection == "teaching-groups" %}active{% endif %}">Nos formations de groupe</a> |
              <a href="{{ site.baseurl }}/formation/coaching-recherche-utilisateur-ux.html" class="item subitem {% if page.subsection == "coaching" %}active{% endif %}">Notre coaching individuel</a>
            </div>
        </div><!--
        --><div class="main-item item {% if page.section == "sharing" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Sharing
            <div class="ui submenu hidden {% if page.section == "sharing" %}forced-visible{% endif %}">
              <a href="{{ site.baseurl }}/partage/outils-travail.html" class="item subitem {% if page.subsection == "tools" %}active{% endif %}">Nos outils de travail</a> |
              <a href="{{ site.baseurl }}/partage/supports-cours.html" class="item subitem {% if page.subsection == "materials" %}active{% endif %}">Nos supports de cours</a> |
              <a href="{{ site.baseurl }}/partage/publications.html" class="item subitem {% if page.subsection == "publications" %}active{% endif %}">Nos publications</a>
            </div>
        </div><!--
        --><div class="main-item item {% if page.section == "clients" %}active{% endif %}"><span class="first">We {% include love.html %}</span>Clients
            <div class="ui submenu hidden {% if page.section == "clients" %}forced-visible{% endif %}">
              <a href="{{ site.baseurl }}/clients/projets.html" class="item subitem {% if page.subsection == "projets" %}active{% endif %}">Nos projets</a>
            </div>
        </div><!--
        --><a href="{{ site.baseurl }}/contact/index.html" class="item {% if page.section == "contact" %}active{% endif %}">Contact</a>
    </div>
    <div class="one wide column"></div>
</nav>
