{% if page.section == "research" %}
<div id="insideNav" class="page-nav spy-menu smooth-menu" data-spy-offset="110" data-smooth-offset="109">
  <a class="active" href="#haut-page">Haut de page</a>
  <a href="#comprendre-interpreter-modeliser">Comprendre, interpréter et modéliser</a>
  <a href="#concretiser-evaluer">Concretiser & évaluer</a>
</div>
{% endif %}

{% if page.section == "teaching" %}
<div id="insideNav" class="page-nav spy-menu smooth-menu" data-spy-offset="110" data-smooth-offset="109">
  <a class="active" href="#haut-page">Haut de page</a>
  <a href="#former-design-ux">Former au design et à l'UX</a>
  <a href="#transmettre-enthousiasme">Transmettre l'enthousiasme</a>
</div>
{% endif %}

{% if page.section == "sharing" %}
<div id="insideNav" class="page-nav spy-menu smooth-menu" data-spy-offset="110" data-smooth-offset="109">
  <a class="active" href="#haut-page">Haut de page</a>
  <a href="#micro-publications">Micro-publications</a>
  <a href="#articles">Articles</a>
</div>
{% endif %}