---
layout: default
title: Formation User Research for Design
section: teaching
subsection: formations
breadcrumb: true
excerpt: S’approprier des méthodes de la recherche utilisateur issues des sciences humaines pour étudier les interactions et usages afin de concevoir des services et produits pertinents.
---

{% assign formation = site.data.formations.formations[2] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ formation.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/formation/former-bandeau.jpg" srcset="/images/formation/former-bandeau.jpg, /images/formation/former-bandeau@2x.jpg 2x" alt="Former">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon wlu-formation"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>Cette formation présente des méthodes de recherche qualitative utilisées en sciences humaines : observation, ethnographie, entretiens, sémiotique.</p>
        <p>Bien que souvent considérée comme secondaire, la recherche utilisateur est un outil puissant pour comprendre l’Homme et imaginer les solutions d’aujourd’hui et de demain.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée :</span>{{ formation.duree }}</div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid  container">
  <div class="eight wide center aligned column">
    <div class="methodology-header">
      <h2 class="ui header">21 Octobre 2016</h2>
      <p class="sub header">Prochaine date en format court (1 jour)</p>
    </div>
  </div>
  <div class="eight wide nopad column">
    <iframe src="https://www.picatic.com/events/widget/89395?utm_source=promotion&utm_medium=widget&utm_campaign=89395&event_title=true&event_time=true&event_location=true&event_image=true&ticket_description=true&width=std" frameborder="0" style="display:block;height:482px;max-width:none;width:100%;"></iframe>
  </div>
</div>



{% include modal.devis.html %}