---
layout: default
title: Formation User Experience Design
section: teaching
subsection: formations
breadcrumb: true
excerpt: Découvrir et mettre en pratique les principales méthodes utilisées en UX, ergonomie et Design Thinking (entretiens, personas, scénarios, maquettes, tests utilisateurs).
---

{% assign formation = site.data.formations.formations[1] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ formation.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/formation/former-bandeau.jpg" srcset="/images/formation/former-bandeau.jpg, /images/formation/former-bandeau@2x.jpg 2x" alt="Former">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon wlu-formation"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>Cette formation, qui ne nécessite aucun prérequis, a pour objectif de mettre en pratique les principales méthodes utilisées en UX (entretiens, personas, scénarios, maquettes, tests utilisateurs).</p>
      <p>Le format 2 x 1,5 jours permet aux stagiaires de <strong>mettre en pratique sur leurs projets</strong> respectifs pendant l’intervalle.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée :</span>{{ formation.duree }}</div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="eight wide nopad column">
    <div class="programme-formation">
      <h2>Programme de formation</h2>
      <h3>Partie 1</h3>
      <ul>
        <li>Introduction à l’UX et au Design Thinking (origines et concepts)</li>
        <li>Le processus de conception centrée utilisateur</li>
        <li>La recherche utilisateur (entretiens, observation, questionnaires, etc.)</li>
        <li>Mise en pratique – préparer et animer des entretiens de recherche</li>
        <li>La modélisation (personas, scénarios, experience maps, etc.)</li>
        <li>Mise en pratique – construire des proto-personas et des scénarios d’utilisation</li>
        <li>Synthèse & objectifs pour le cours suivant</li>
      </ul>
      <h3>Partie 2</h3>
      <ul>
        <li>La concrétisation (maquettes, etc.)</li>
        <li>Mise en pratique – réaliser des maquettes</li>
        <li>L’évaluation (tests utilisateurs, évaluation heuristique, etc.)</li>
        <li>Mise en pratique – évaluer les maquettes sans puis avec des utilisateurs</li>
        <li>Synthèse & Q/R</li>
      </ul>
    </div>
  </div>
  <div class="one wide column"></div>
  <div class="seven wide nopad column">
    <div class="public-cible">
      <h2>Public cible</h2>
      <p><i class="chevron right icon"></i>Entrepreneurs, managers, chefs de projets, designers graphiques, développeurs.</p>
      <p><i class="chevron right icon"></i>Toute personne souhaitant comprendre les enjeux de l'UX Design.</p>
    </div>
  </div>
</div>

{% include modal.devis.html %}
