---
layout: default
title: Formation Test Utilisateurs
section: teaching
subsection: formations
breadcrumb: true
excerpt: Approfondir la phase d'évaluation en UX et Design en devenant autonome dans la réalisation de tests utilisateurs pour évaluer des services et produits.
---

{% assign formation = site.data.formations.formations[2] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ formation.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/formation/former-bandeau.jpg" srcset="/images/formation/former-bandeau.jpg, /images/formation/former-bandeau@2x.jpg 2x" alt="Former">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon wlu-formation"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>Cette formation détaille la méthode de test utilisateurs et vise à rentre les équipes autonomes dans l’évaluation de services et produits.</p>
      <p>Le format 1 + 2 jours permet aux stagiaires de recruter des participants pour les tests et de réaliser ainsi des <strong>tests réels sur leurs projets actuels</strong>.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée :</span>{{ formation.duree }}</div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

{% include modal.devis.html %}