---
layout: default
title: We Love Teaching
subtitle: Donner les clés du design et de l'UX
section: teaching
breadcrumb: true
navinterne: true
excerpt: Donner les clés du design et de l'UX - En formant aux méthodologies du Design et de l’UX, We love users transmet les réflexes et les outils efficients qui permettront aux entreprises – managers et collaborateurs – étudiants et stagiaires de développer une connaissance et une approche holistique des utilisateurs et de leurs besoins.
---

<header class="page-header relative">
  <h1 class="ui header center aligned spy" id="haut-page">
    <span class="first">We</span>
    <span class="love"><span class="hidden">Love</span><img src="/images/love/teaching.png" srcset="/images/love/teaching.png, /images/love/teaching@2x.png 2x" alt="Love"></span>
    <span class="second">Teaching</span>
    <div class="sub header">{{ page.subtitle }}</div>
  </h1>

  <div class="ui stackable grid container">
    <div class="two wide column"></div>
    <div class="six wide column">
      <p>En formant aux méthodologies du Design et de l’UX, We love users transmet les réflexes et les outils efficients qui permettront aux entreprises – managers et collaborateurs – étudiants et stagiaires de développer une connaissance et une approche holistique des utilisateurs et de leurs besoins.</p>
    </div>
    <div class="six wide column">
      <p>Aider à définir les objectifs, motivations et finalités d’un outil, d’un produit ou d’un service, accompagner dans la conception de fonctionnalités adaptées, former dans le but de développer des objets et des interfaces conçus dans une logique de praticité et d’utilité, We Love Users met au service de la formation des entreprises et des écoles son expérience, sa savoir et sa connaissance.</p>
    </div>
    <div class="sixteen wide center aligned column"><button class="ui wlu button" id="bt-devis">Suivre une formation</button></div>
  </div>
</header>

<section class="section section-1">
  <h2 class="ui header spy" id="former-design-ux">Former au design et à l'UX</h2>

  <div class="ui stackable grid container relative">
    <div class="logo"><div class="relative">{% include love.big.html %}<i class="icon wlu-icon wlu-formation"></i></div></div>
    <div class="eight wide column nopad">
      <img class="image-header" src="/images/formation/former.jpg" srcset="/images/formation/former.jpg, /images/formation/former@2x.jpg 2x" alt="Former au design et à l'UX">
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <p>Pour faire comprendre l’évolution des besoins et des usages, We Love Users propose des formations, séminaires, ateliers et coaching en entreprise destinés à mieux appréhender les questions de design et d’UX. Pour que les collaborateurs et leurs managers puissent développer leur business et répondre au plus près des attentes de leurs clients.</p>
    </div>
    <div class="one wide column"></div>
  </div>

  <div class="ui header methodes" id="formations">Nos formations</div>

  <div class="ui link grid nomargin container">
    {% for formation in site.data.formations.formations %}
    <a class="row" href="{{ site.baseurl }}/formation/{{ formation.url }}">
      <div class="twelve wide nopad method-content column">
        <div class="header">{{ formation.titre }}</div>
        <div class="type">{{ formation.type }}</div>
        <div class="description"><p>{{ formation.description }}</p></div>
      </div>
      <div class="four wide method-workload column">
        <div class="workload"><span class="title"><i class="icon wait"></i> Durée :</span>{{ formation.duree }}</div>
      </div>
    </a>
    {% endfor %}
  </div>

</section>


<section class="section section-2">
  <h2 class="ui header spy" id="transmettre-enthousiasme">Transmettre l'enthousiasme</h2>

  <div class="ui stackable grid container relative">
    <div class="logo"><div class="relative">{% include love.big.html %}<i class="icon wlu-icon wlu-intervention-pedagogique"></i></div></div>
    <div class="one wide column"></div>
    <div class="five wide column">
      <p>We Love Users souhaite transmettre aux plus jeunes dans les écoles et universités les résultats de ses recherches par sa connaissance des hommes et de leurs usages. Car permettre à chacun de mieux comprendre ses futurs publics, prospects et clients, c’est encourager les bonnes pratiques et offrir au plus grand nombre des expériences utilisateurs positives et réussies.</p>
    </div>
    <div class="two wide column"></div>
    <div class="eight wide column nopad">
      <img class="image-header" src="/images/formation/transmettre-enthousiasme.jpg" srcset="/images/formation/transmettre-enthousiasme.jpg, /images/formation/transmettre-enthousiasme@2x.jpg 2x" alt="Former au design et à l'UX">
    </div>
  </div>

  <div class="ui header methodes" id="articles-publications">Articles et publications</div>

  <div class="ui link grid nomargin container">
    {% for article in site.data.formations.articles %}
    <a class="row" href="{{ site.baseurl }}/formation/{{ article.url }}">
      <div class="four wide nopad method-icon column">
        <img src="{{ article.logo }}{{ article.filetype }}" srcset="{{ article.logo }}{{ article.filetype }}, {{ article.logo }}@2x{{ article.filetype }} 2x" alt="{{ article.titre }}">
      </div>
      <div class="twelve wide method-content column">
        <div class="header">{{ article.titre }}</div>
        <div class="description"><p>{{ article.description }}</p></div>
      </div>
    </a>
    {% endfor %}
  </div>

  <div class="ui header methodes" id="interventions-pedagogiques">Interventions pédagogiques</div>

  <div class="ui stackable grid container">
    <div class="eleven wide column light-grey-border">
      <img src="/images/formation/logos-interventions-pedagogiques.jpg" srcset="/images/formation/logos-interventions-pedagogiques.jpg, /images/formation/logos-interventions-pedagogiques@2x.jpg 2x" alt="Gobelins, Hétic, IESA Multimédia, Schoolab, L'école multimédia">
    </div>
    <div class="five wide center aligned column light-grey-column">
      <button class="ui wlu button" id="bt-intervention">Demander une intervention</button>
    </div>
  </div>

</section>

{% include modal.formation.html %}
{% include modal.intervention.html %}