---
layout: default
title: Auto-confrontation vidéo
section: research
subsection: comprendre-interpreter-modeliser
breadcrumb: true
excerpt: L’auto-confrontation est une méthode de recherche qualitative qui consiste à filmer l’activité des personnes puis à réaliser un entretien avec eux.
---

{% assign methode = site.data.methodes.recherche[2] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ methode.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/recherche/comprendre-bandeau.jpg" srcset="/images/recherche/comprendre-bandeau.jpg, /images/recherche/comprendre-bandeau@2x.jpg 2x" alt="Comprendre">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon {{ methode.icone }}"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>L’auto-confrontation est une méthode de recherche qualitative qui se déroule en deux temps. Elle consiste, dans un premier temps à filmer l’activité (ce que les personnes font réellement) et dans un second temps à réaliser un entretien avec les personnes qui ont été filmées tout en leur diffusant le film afin de recueillir leurs réactions, explications, etc.</p>
        <p>Cette méthode est particulièrement utile pour les situations où la verbalisation simultanée est impossible - les personnes ne peuvent pas à la fois agir et expliquer tout au même moment - comme par exemple la conduite d’une moto.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée estimée :</span><a class="popup" data-html="Chaque projet étant différent, les durées peuvent varier. <br /><br /><i>Note : le recrutement des participants n'est pas inclut dans l'estimation.</i>" data-variation="wide inverted">{{ methode.duree }}</a></div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="methodology-header">
  <h2 class="ui header">Notre méthodologie</h2>
  <p class="sub header">Les 6 étapes d’une recherche utilisateur via l’auto-confrontation vidéo :</p>
</div>

<div class="ui stackable grid container">
  <div class="nine wide column">
    <div class="six methodology-steps">
      <div class="step">
        <i class="counter">1</i>
        <div class="content">
          <div class="title">Définir les situations à filmer et les moyens techniques à mettre en oeuvre.</div>
          <div class="description">(caméras, micros)</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">2</i>
        <div class="content">
          <div class="title">Cibler et recruter les participants.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">3</i>
        <div class="content">
          <div class="title">Réaliser les enregistrements vidéo.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">4</i>
        <div class="content">
          <div class="title">Réaliser les entretiens d’auto-confrontation.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">5</i>
        <div class="content">
          <div class="title">Analyser les données et synthétiser les résultats dans un rapport.</div>
          <div class="description">(texte, schémas, personas, etc.)</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">6</i>
        <div class="content">
          <div class="title">Présenter le rapport.</div>
        </div>
      </div>
    </div>
  </div>

</div>

{% include modal.devis.html %}