---
layout: default
title: Entretien de recherche
section: research
subsection: comprendre-interpreter-modeliser
breadcrumb: true
excerpt: L’entretien est une méthode de recherche qualitative qui consiste à s'entretenir avec des personnes et comprendre leurs opinions.
---

{% assign methode = site.data.methodes.recherche[1] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ methode.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/recherche/comprendre-bandeau.jpg" srcset="/images/recherche/comprendre-bandeau.jpg, /images/recherche/comprendre-bandeau@2x.jpg 2x" alt="Comprendre">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon {{ methode.icone }}"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>L’entretien est une méthode de recherche qualitative qui peut être utilisée indépendamment ou en complément de <a href="/recherche/observation-terrain.html">l’observation</a>. Elle consiste à s’entretenir avec des personnes (utilisateurs, experts métier, etc.) en abordant des thèmes précis qui ont été déterminés en amont. Elle vise à comprendre les opinions, les croyances, les représentations et les discours à l’égard des thèmes étudiés.</p>
        <p>Dans sa variante semi-directive, l’entretien permet de cadrer les sujets de discussion tout en autorisant des dérives, des explorations. C’est un bon compromis entre l’entretien exploratoire et l’interrogatoire.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée estimée :</span><a class="popup" data-html="Chaque projet étant différent, les durées peuvent varier. <br /><br /><i>Note : le recrutement des participants n'est pas inclut dans l'estimation.</i>" data-variation="wide inverted">{{ methode.duree }}</a></div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui two column grid illustrations container">
  <div class="column nopad">
    <figure class="thumbnails">
      <img src="/images/recherche/illustrations/exemple-entretien-recherche.jpg"  srcset="/images/recherche/illustrations/exemple-entretien-recherche.jpg, /images/recherche/illustrations/exemple-entretien-recherche@2x.jpg 2x" alt="Exemple d'entretien de recherche" data-action="zoom">
      <figcaption>Figure 1 - Exemple d'entretien de recherche</figcaption>
    </figure>
  </div>
  <div class="column nopad">
      <figure class="thumbnails">
      <img src="/images/recherche/illustrations/microphone.jpg"  srcset="/images/recherche/illustrations/microphone.jpg, /images/recherche/illustrations/microphone@2x.jpg 2x" alt="Microphone" data-action="zoom">
      <figcaption>Figure 2 - Microphone</figcaption>
    </figure>
  </div>
</div>

<div class="methodology-header">
  <h2 class="ui header">Notre méthodologie</h2>
  <p class="sub header">Les 6 étapes d’une recherche utilisateur via des entretiens :</p>
</div>

<div class="ui stackable grid container">
  <div class="nine wide column">
    <div class="six methodology-steps">
      <div class="step">
        <i class="counter">1</i>
        <div class="content">
          <div class="title">Définir le cadre de la recherche et les questions.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">2</i>
        <div class="content">
          <div class="title">Cibler et recruter les participants.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">3</i>
        <div class="content">
          <div class="title">Construire le guide d’entretien (thèmes abordés).</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">4</i>
        <div class="content">
          <div class="title">Réaliser les entretiens.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">5</i>
        <div class="content">
          <div class="title">Analyser les données et synthétiser les résultats dans un rapport.</div>
          <div class="description">(texte, schémas, personas, etc.)</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">6</i>
        <div class="content">
          <div class="title">Présenter le rapport.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="seven wide nopad column">
    <div class="plus-loin">
      <h2>Pour aller plus loin</h2>
      <p><i class="chevron right icon"></i><a href="/formation/formation-user-research-for-design.html">Formation User Research for Design</a>
    </div>
  </div>
</div>

{% include modal.devis.html %}