---
layout: default
title: Observation de terrain
section: research
subsection: comprendre-interpreter-modeliser
breadcrumb: true
excerpt: L’observation est une méthode de recherche qualitative inspirée de l’ethnographie.
---

{% assign methode = site.data.methodes.recherche[0] %}

<header class="page-header method-header">
  <h1 class="ui header center aligned">{{ page.title }}</h1>
  <div class="method-type"><span class="type">{{ methode.type }}</span></div>
</header>

<div class="section method-description">
  <div class="ui stackable grid container">
    <div class="sixteen wide column nopad">
      <img src="/images/recherche/comprendre-bandeau.jpg" srcset="/images/recherche/comprendre-bandeau.jpg, /images/recherche/comprendre-bandeau@2x.jpg 2x" alt="Comprendre">
      <div class="logo"><div class="relative">{% include love.huge.html %}<i class="icon wlu-icon {{ methode.icone }}"></i></div></div>
    </div>
    <div class="one wide column"></div>
    <div class="six wide column">
      <div class="text">
        <p>L'observation est une méthode de recherche qualitative inspirée de l’ethnographie. Elle consiste à observer activement les personnes, les interactions et les objets qui entrent en jeu dans les situations d’usage des produits étudiés.</p>
        <p>La particularité et la richesse de cette méthode résident dans l’aspect exploratoire et écologique qui permet de découvrir, sans hypothèses initiales, le comportement des utilisateurs dans des situations réelles.</p>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="five wide column">
      <div class="text">
        <div class="workload"><span class="title"><i class="icon wait"></i>Durée estimée :</span><a class="popup" data-html="L'entrée sur le terrain et l'observation peuvent s'avérer plus ou moins difficiles selon les thèmes, les contextes et les groupes étudiés ; la durée doit donc être ajustée en conséquence.<br /><br /><i>Note : le recrutement des participants n'est pas inclut dans l'estimation.</i>" data-variation="wide inverted">{{ methode.duree }}</a></div>
        <p>
          <button class="ui wlu button" id="bt-devis">Demander un devis</button>
          {% include button.contact.html %}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui two column grid illustrations container">
  <div class="column nopad">
    <figure class="thumbnails">
      <img src="/images/recherche/illustrations/observation-terrain.jpg" srcset="/images/recherche/illustrations/observation-terrain.jpg, /images/recherche/illustrations/observation-terrain@2x.jpg 2x" alt="Exemple d'observation de terrain" data-action="zoom">
      <figcaption>Figure 1 - Exemple d'observation de terrain</figcaption>
    </figure>
  </div>
  <div class="column nopad">
      <figure class="thumbnails">
      <img src="/images/recherche/illustrations/immersion-ethnographique-collectionneur-bd.jpg"  srcset="/images/recherche/illustrations/immersion-ethnographique-collectionneur-bd.jpg, /images/recherche/illustrations/immersion-ethnographique-collectionneur-bd@2x.jpg 2x" alt="Exemple d'immersion ethnographique dans l'univers du collectionneur de BD" data-action="zoom">
      <figcaption>Figure 2 - Exemple d'immersion ethnographique dans l'univers du collectionneur de BD</figcaption>
    </figure>
  </div>
</div>

<div class="methodology-header">
  <h2 class="ui header">Notre méthodologie</h2>
  <p class="sub header">Les 5 étapes d’une recherche utilisateur via observation de terrain :</p>
</div>

<div class="ui stackable grid container">
  <div class="nine wide column">
    <div class="five methodology-steps">
      <div class="step">
        <i class="counter">1</i>
        <div class="content">
          <div class="title">Définir le cadre de la recherche et les questions.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">2</i>
        <div class="content">
          <div class="title">Cibler et recruter les participants.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">3</i>
        <div class="content">
          <div class="title">Réaliser les observations.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">4</i>
        <div class="content">
          <div class="title">Analyser les données et synthétiser les résultats dans un rapport.</div>
        </div>
      </div>
      <div class="step">
        <i class="counter">5</i>
        <div class="content">
          <div class="title">Présenter le rapport.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="seven wide nopad column">
    <div class="plus-loin">
      <h2>Pour aller plus loin</h2>
      <p><i class="chevron right icon"></i><a href="/formation/formation-user-research-for-design.html">Formation User Research for Design</a></p>
      <p><i class="chevron right icon"></i><a href="/documents/supports-cours/recherche_utilisateur_-_principaux_cadres_-_v1.2.pdf" class="track-pdf-download">Aides à la recherche utilisateur (PDF ~100Ko)</a></p>
    </div>
  </div>
</div>

{% include modal.devis.html %}